flow2.json
[{"id":"44357243.b90e9c","type":"xml-validate","z":"b85a5dfb.2ea4e","name":"","filename":"node_modules\\node-red-contrib-xml-validate\\pet.xsd","x":490,"y":680,"wires":[["87f4254.28bd4d8"],["cfefc0fc.ad72b"],["6dba1f2.2b790e"]]},{"id":"87f4254.28bd4d8","type":"debug","z":"b85a5dfb.2ea4e","name":"this xml is valid","active":true,"console":"false","complete":"payload","x":760,"y":620,"wires":[]},{"id":"a0918e80.1bd8a","type":"inject","z":"b85a5dfb.2ea4e","name":"xml snippet","topic":"","payload":"<?xml version=\"1.0\"?> <pet><name>Tom</name></pet>","payloadType":"str","repeat":"","crontab":"","once":false,"x":230,"y":680,"wires":[["44357243.b90e9c"]]},{"id":"cfefc0fc.ad72b","type":"debug","z":"b85a5dfb.2ea4e","name":"this xml is not valid","active":true,"console":"false","complete":"payload","x":770,"y":680,"wires":[]},{"id":"6dba1f2.2b790e","type":"debug","z":"b85a5dfb.2ea4e","name":"validation errors","active":true,"console":"false","complete":"payload","x":760,"y":740,"wires":[]}]