flow2.json
[{"id":"2e6cd596.df3dca","type":"xml-validate","z":"e6defec6.66bc2","name":"","filename":"node_modules\\node-red-contrib-xml-validate\\pet.xsd","x":610,"y":615,"wires":[["5765c4e.840c63c"],["b18f315e.3f49f"],["2a40200a.a8fc6"]]},{"id":"5765c4e.840c63c","type":"debug","z":"e6defec6.66bc2","name":"this xml is valid","active":true,"console":"false","complete":"payload","x":880,"y":555,"wires":[]},{"id":"202f02bf.1751ce","type":"inject","z":"e6defec6.66bc2","name":"xml snippet","topic":"","payload":"<?xml version=\"1.0\"?> <pet><name>Tom</name></pet>","payloadType":"str","repeat":"","crontab":"","once":false,"x":350,"y":615,"wires":[["2e6cd596.df3dca"]]},{"id":"b18f315e.3f49f","type":"debug","z":"e6defec6.66bc2","name":"this xml is not valid","active":true,"console":"false","complete":"payload","x":890,"y":615,"wires":[]},{"id":"2a40200a.a8fc6","type":"debug","z":"e6defec6.66bc2","name":"validation errors","active":true,"console":"false","complete":"payload","x":880,"y":675,"wires":[]}]