flow1.json
[{"id":"ada71845.ca2d88","type":"xml-validate","z":"b85a5dfb.2ea4e","name":"validate schema from file \"people.xsd\"","filename":"node_modules\\node-red-contrib-xml-validate\\people.xsd","x":770,"y":300,"wires":[["c5178266.19e5b"],["9ba26587.831df8"],["a1fe173a.52a138"]]},{"id":"c5178266.19e5b","type":"debug","z":"b85a5dfb.2ea4e","name":"valid xml","active":true,"console":"false","complete":"payload","x":1120,"y":240,"wires":[]},{"id":"a1fe173a.52a138","type":"debug","z":"b85a5dfb.2ea4e","name":"error results","active":true,"console":"false","complete":"payload","x":1130,"y":360,"wires":[]},{"id":"d8bed258.00fc","type":"inject","z":"b85a5dfb.2ea4e","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190,"y":140,"wires":[["cad13d8f.d19df"]]},{"id":"cad13d8f.d19df","type":"file in","z":"b85a5dfb.2ea4e","name":"from xml file \"people.xml\"","filename":"node_modules\\node-red-contrib-xml-validate\\people.xml","format":"utf8","x":430,"y":220,"wires":[["ada71845.ca2d88"]]},{"id":"9ba26587.831df8","type":"debug","z":"b85a5dfb.2ea4e","name":"invalid xml","active":true,"console":"false","complete":"true","x":1130,"y":300,"wires":[]}]