flow1.json
[{"id":"9d25497d.63e3e8","type":"xml-validate","z":"e6defec6.66bc2","name":"validate schema from file \"people.xsd\"","filename":"node_modules\\node-red-contrib-xml-validate\\people.xsd","x":677,"y":259,"wires":[["3c05fbc3.d6cca4"],["dde5ae24.4474a"],["63f3c37a.94c41c"]]},{"id":"3c05fbc3.d6cca4","type":"debug","z":"e6defec6.66bc2","name":"valid xml","active":true,"console":"false","complete":"payload","x":1027,"y":199,"wires":[]},{"id":"63f3c37a.94c41c","type":"debug","z":"e6defec6.66bc2","name":"error results","active":true,"console":"false","complete":"payload","x":1037,"y":319,"wires":[]},{"id":"8c9d41f8.0aa28","type":"inject","z":"e6defec6.66bc2","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97,"y":99,"wires":[["62aac75a.c0baf8"]]},{"id":"62aac75a.c0baf8","type":"file in","z":"e6defec6.66bc2","name":"from xml file \"people.xml\"","filename":"node_modules\\node-red-contrib-xml-validate\\people.xml","format":"utf8","x":337,"y":179,"wires":[["9d25497d.63e3e8"]]},{"id":"dde5ae24.4474a","type":"debug","z":"e6defec6.66bc2","name":"invalid xml","active":true,"console":"false","complete":"true","x":1037,"y":259,"wires":[]}]