flow4.json
[{"id":"3f95e2b5.78a8ee","type":"xml-validate","z":"b85a5dfb.2ea4e","name":"check for people.xsd","filename":"node_modules\\node-red-contrib-xml-validate\\people.xsd","x":500,"y":1760,"wires":[["997a9ef1.0ffad"],["1848cabd.a06ec5"],["86c55fe5.e93f7"]]},{"id":"997a9ef1.0ffad","type":"debug","z":"b85a5dfb.2ea4e","name":"its a xml of type \"people\"","active":true,"console":"false","complete":"payload","x":790,"y":1660,"wires":[]},{"id":"86c55fe5.e93f7","type":"debug","z":"b85a5dfb.2ea4e","name":"error results","active":true,"console":"false","complete":"true","x":990,"y":1900,"wires":[]},{"id":"5dec8101.e932d","type":"inject","z":"b85a5dfb.2ea4e","name":"inject valid xml","topic":"","payload":"<?xml version=\"1.0\"?> <pet><name>Tom</name></pet>","payloadType":"str","repeat":"","crontab":"","once":false,"x":260,"y":1660,"wires":[["3f95e2b5.78a8ee"]]},{"id":"b4f9c76f.acab28","type":"debug","z":"b85a5dfb.2ea4e","name":"its a xml of type \"note\"","active":true,"console":"false","complete":"true","x":1060,"y":1720,"wires":[]},{"id":"1848cabd.a06ec5","type":"xml-validate","z":"b85a5dfb.2ea4e","name":"check for note.xsd","filename":"node_modules\\node-red-contrib-xml-validate\\note.xsd","x":770,"y":1760,"wires":[["b4f9c76f.acab28"],["626ef524.98908c"],["86c55fe5.e93f7"]]},{"id":"626ef524.98908c","type":"xml-validate","z":"b85a5dfb.2ea4e","name":"check just a well formed xml","filename":"node_modules\\node-red-contrib-xml-validate\\pet.xsd","x":1080,"y":1800,"wires":[["85f3937.5be287"],[],["312ff3d.c30c70c"]]},{"id":"85f3937.5be287","type":"debug","z":"b85a5dfb.2ea4e","name":"xml of type 'unknow'","active":true,"console":"false","complete":"true","x":1360,"y":1720,"wires":[]},{"id":"312ff3d.c30c70c","type":"debug","z":"b85a5dfb.2ea4e","name":"this is not a valid xml","active":true,"console":"false","complete":"true","x":1360,"y":1860,"wires":[]}]