flow3.json
[{"id":"7762f7b8.89c388","type":"xml-validate","z":"b85a5dfb.2ea4e","name":"validate schema from file \"people.xsd\"","filename":"node_modules\\node-red-contrib-xml-validate\\people.xsd","x":550,"y":1160,"wires":[["fb420bb6.8e03b8"],["471db0c2.b9ef8"],["a96f46f0.10b888"]]},{"id":"fb420bb6.8e03b8","type":"debug","z":"b85a5dfb.2ea4e","name":"valid xml","active":true,"console":"false","complete":"payload","x":1160,"y":980,"wires":[]},{"id":"a96f46f0.10b888","type":"debug","z":"b85a5dfb.2ea4e","name":"error results","active":true,"console":"false","complete":"true","x":1170,"y":1340,"wires":[]},{"id":"88bbf37a.7cae3","type":"inject","z":"b85a5dfb.2ea4e","name":"trigger","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":900,"wires":[["556e0b3e.ee5744"]]},{"id":"556e0b3e.ee5744","type":"file in","z":"b85a5dfb.2ea4e","name":"from xml file \"note.xml\"","filename":"node_modules\\node-red-contrib-xml-validate\\note.xml","format":"utf8","x":250,"y":1040,"wires":[["7762f7b8.89c388"]]},{"id":"8bf2789.22e1b88","type":"debug","z":"b85a5dfb.2ea4e","name":"certainly invalid xml","active":true,"console":"false","complete":"true","x":1190,"y":1160,"wires":[]},{"id":"471db0c2.b9ef8","type":"xml-validate","z":"b85a5dfb.2ea4e","name":"try another schema","filename":"node_modules\\node-red-contrib-xml-validate\\note.xsd","x":910,"y":1160,"wires":[["fb420bb6.8e03b8"],["8bf2789.22e1b88"],["a96f46f0.10b888"]]}]